 *{
        margin: 0%;
        padding: 0%;
        box-sizing: border-box;
    }

html{
    background-color: rgb(0, 0, 0);
}
    header {

        display: flex;
        justify-content: space-between;
        align-items: center;
    }

    #titulo-header {

        color:rgb(255, 253, 253);
        font-weight: bold;
        font-size: 20px;
    }

    #titulo-header small {
    color:red;
    font-weight: bold;
    font-size: 12px;
    }
    .texto-pequeno {
        color:aqua
    }
    h2{
        color:rgb(0, 109, 109)
    }
    #menu-header {
        gap: 10px;
        display: flex;

    }

    #menu-header p{
    color:rgb(255, 255, 255);
    font-size: 12px;
    }


main{
        background-color: rgb(24, 72, 16);
        padding: 20px;
        margin: 10px;

    }

    #Hero {
        display:flex;
        justify-content: space-between;
        align-items: center;
    }

    #texto-hero h1{
        font-size: 80px;
        color:rgb(248, 244, 244);
        padding: 10px;
    }

    #texto-hero small {
        padding:10px;
        color:chocolate;
        height: 300px;
    }

    #texto-hero p {
        font-size: 16px;
        color:rgb(248, 247, 247);
        padding: 10px;
    }

    #img-hero img {
        width: 350px;
        padding: 20px;
    }

        #galeria {

        gap: 10px;
        align-content: center;
        justify-content: space-between;
        margin-top: 20px;
        flex-wrap:wrap;
        color:aliceblue;
    }

    #galeria-imgs {
    padding-left: 20px;
    padding-top: 20px;
    padding-bottom: 50px;
    display: flex;
    gap: 10px;
    justify-content: center;
    align-items: center;
    }
    

    .card {
           background-color: rgba(201, 147, 11, 0.825);
    display: flex;
    padding: 30px;
    gap: 30px;
    }


    #banco {
        align-items: center;
        justify-content: center;
        padding: 80px;
    }
    #três {
        padding: 150px;
    }

    #segundo {
        background-color: rgb(0, 81, 255);
        align-items: center;
        justify-content: space-between;
                flex-wrap:wrap;
                display: flex;
                flex-direction: column;


    }


        footer {
            background-color:rgb(20, 20, 117);
        display: flex;
        justify-content: space-between;
        padding: 20px;
        color:white;
    }

    a{
        color:rgb(255, 251, 0);

    }
